

.validation-error { 
  color: red;
}

#map a:link {
  text-decoration:none
}

#map td {
  vertical-align:text-top;
}
.item-action {
  visibility:hidden;
}

.hidden-value, .hidden {
  display:none;
}

#available-categories {
  height:200px;
  width:300px;
  overflow: scroll;
  border-style:solid;
  border-width:1px;
  list-style-type:none;
  margin:0px;
  padding:5px;
}

#selected-categories {
  height:200px;
  width:300px;
  overflow: scroll;
  border-style:solid; 
  border-width:1px;
  padding:10px;
}


#selected-categories .level {
  display:none;
}

#selected-images {
  width:550px;
  height:500px;
  border-style:solid; 
  border-width:1px;
  padding:15px;
  overflow:auto;
}

#image-results {
  width:300px;
  height:400px;
  overflow:auto;
  padding:10px;
}

#selected-images li {
  
}
.related-img {
  float:left;

  margin:4px;
}
.related-input {
  float:left;
 
}
.clear {clear:both;}

#selected-div {
  
  position:relative;
  height:100%
}

.spinner {
  height: 100%;
  width: 100%;
  background: transparent url(/images/spinner.gif) no-repeat center;
  position: absolute;
  background-color:#D3D3D3;
  top: 0;
  left: 0;
}

.drophover {
  background-color:#DEB887;
}

#search-cell {
  vertical-align:top;
}

h1 {
    font-size: 200%;
    line-height: 1.2em;
    margin: 0.6em 0 0;
}

.logo {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 350%; 
    line-height: 1.2em;
    margin: 0.6em 0 0;
}