

h1 {
    font-size: 200%;
    line-height: 1.2em;
    margin: 0.6em 0 0;
}

.logo {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 350%; 
    line-height: 1.2em;
    margin: 0.6em 0 0;
}

