<table>
  <tr>
    <td>
      <div id="map_canvas" style="width:700px; height:600px"></div> 
    </td>
    <td valign="top">
      <div id="img-display">
        
      </div>  
    </td>  
  </tr>
</table>  